{% extends 'layout.html'%}
{%block body%}
    <div class='inputbox'>
    <h2>Predict Today's Closing Price</h2>
    <p>Please Enter the S&P 500's Open, High, Low, Close, and Volume of the past 14 days seperated by commas.</p>
    <br>
    <form method="POST" action="">
        <table>
            {% for field in form %}
            <tr>
            <td>{{ field.label }}</td><td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <p><input type=submit value=Submit></p>
    </form>
    <div>
        {% if result != None %}
            <h3>Predicted Closing Price:</h3>
            <p>
                {{result}}
            </p>
        {% endif %}
    </div>
        
    </div>
{%endblock%}