{% extends 'layout.html'%}
{%block body%}
    <div class='inputbox'>
    <h1 class = "topHeader" >Predict 09/21/2021 Closing Price</h1>
    <p>Please Enter the S&P 500's Open, High, Low, Close, and Volume for 09/20/2021 seperated by commas.</p>
    <br>
    <form method="POST" action="{{ url_for('mulBigInput') }}">
        <table>
            {% for field in form %}
            <tr>
            <td>{{ field.label }}</td><td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <p class="submitP"><input type=submit value=Predict class="submitButton"></p>
    </form>
    <div class="displayResults">
        {% if result != None %}
            <h3>Predicted Closing Price:</h3>
            <p>
                {{result}}
            </p>
        {% endif %}
    </div>
        
    </div>
{%endblock%}